# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
migrations
"Dark Portfolio Landing Page"
setup.md
BACKEND_SETUP.md
LINKEDIN_SETUP.md
"Dark Portfolio Landing Page.zip"
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
